<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       					   http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-3.1.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       					   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
       					   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/util/spring-mvc-3.1.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd">
	   
    <import resource="classpath:com/gabon/info/checkstyle.xml" />
    
	<bean id="classPathResource" class="org.springframework.core.io.ClassPathResource" lazy-init="default" autowire="default">
	    <constructor-arg index="0" value="classpath:com/gabon/info/pmd.xml" />
	</bean>
	
	<bean id="propertiesFactoryBean" class="org.springframework.beans.factory.config.PropertiesFactoryBean" lazy-init="default" autowire="default">
        <property name="properties">
	        	<props>
		            	<prop key="hibernate.properties">classpath:com/gabon/info/hibernate.properties</prop>
	           </props>
        </property>
    </bean>
    
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="default" autowire="default">
		<property name="fileEncoding" value="ISO-8859-1" />
		<property name="properties" ref="propertiesFactoryBean" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
		<property name="location" value="classpath:com/gabon/info/log4j.properties" />
		<property name="locations">
			<set>
				<value>classpath:com/gabon/info/buildNumber.properties</value>
			</set>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:uqam" />
		<property name="username" value="uqam" />
		<property name="password" value="uqam" />
	</bean>
	
	<!-- 
	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">org.apache.naming.java.javaURLContextFactory</prop>
				<prop key="java.naming.provider.url">org.apache.naming</prop>
			</props>
		</property>
	</bean>
	
	<bean id="jndiObjectFactoryBean" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiTemplate" ref="jndiTemplate" />
	    <property name="jndiName" value="jdbc/uqam" />
	    <property name="jndiName" value="java:comp/env/jdbc/uqam" />
	    <property name=“resourceRef” value=“true”/>
	</bean>
	-->
	
	<context:annotation-config />
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<bean class="org.springframework.dao.support.ChainedPersistenceExceptionTranslator"/> 
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />    
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean class="org.springframework.jdbc.support.lob.DefaultLobHandler" />
    	
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:com/gabon/info/sqlmap-config.xml" />
	</bean>
    
	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	   <property name="dataSource" ref="dataSource" />
	   <property name="sqlMapClient" ref="sqlMapClient" />
	   <property name="mapperLocations">
		   <list>
	                <value>classpath*:com/gabon/info/sqlmap/Users.xml</value>
	                <value>classpath*:com/gabon/info/sqlmap/Projects.xml</value>
	                <value>classpath*:com/gabon/info/sqlmap/Office.xml</value>
	                <value>classpath*:com/gabon/info/sqlmap/Department.xml</value>
	                <value>classpath*:com/gabon/info/sqlmap/Roles.xml</value>
           </list>
       </property>	 
	   <property name="configLocations">
		   <list>
	                <value>classpath:com/gabon/info/sqlmap-config.xml</value>
            </list>
        </property>	
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	  <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="baseMapper" class="org.mybatis.spring.MapperFactoryBean" abstract="true" lazy-init="true">
     <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
 	
    <bean id="daoSupportFacade" parent="baseMapper">
      <property name="mapperInterface" value="com.gabon.info.dao.DAOSupportFacade" />
    </bean>	
   
	<bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	   <property name="dataSource" ref="dataSource" />
	   <property name="rollbackOnCommitFailure" value="false" />
	</bean>

	
	
	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="propagationBehaviorName" value="PROPAGATION_NEVER" />
		<property name="timeout" value="30" />
		<property name="transactionManager" ref="dataSourceTransactionManager" />
	</bean>
	
	<bean id="transactionProxy" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="jpaTransactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="jpaTransactionManager" proxy-target-class="false" />
  	
	<tx:advice id="txAdviceUserDao" transaction-manager="jpaTransactionManager">
		<tx:attributes>
			<tx:method name="display*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="read*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="set*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" isolation="DEFAULT" timeout="10" propagation="REQUIRES_NEW" read-only="false" rollback-for="org.springframework.dao.DataAccessException" />
		</tx:attributes>
	</tx:advice>

	<bean id="abstractModel" class="com.gabon.info.model.AbstractModel" abstract="true" />
	<bean id="users" class="com.gabon.info.model.users.Users" />
	<bean id="abstractUsers" class="com.gabon.info.model.users.AbstractUsers" abstract="true" />
	<bean id="roles" class="com.gabon.info.model.roles.Roles" />
	<bean id="abstractRoles" class="com.gabon.info.model.roles.AbstractRoles" abstract="true" />
	<bean id="projects" class="com.gabon.info.model.projects.Projects" />
	<bean id="abstractProjects" class="com.gabon.info.model.projects.AbstractProjects" abstract="true" />
	<bean id="office" class="com.gabon.info.model.office.Office" />
	<bean id="abstractOffice" class="com.gabon.info.model.office.AbstractOffice" abstract="true" />
	<bean id="department" class="com.gabon.info.model.department.Department" />
	<bean id="abstractDepartment" class="com.gabon.info.model.department.AbstractDepartment" abstract="true" />	
	
	
	<bean id="abstractDTO" class="com.gabon.info.dto.AbstractDTO" abstract="true" />
	<bean id="usersDTO" class="com.gabon.info.dto.users.UsersDTO" />
	<bean id="abstractUsersDTO" class="com.gabon.info.dto.users.AbstractUsersDTO" abstract="true" />
	<bean id="rolesDTO" class="com.gabon.info.dto.roles.RolesDTO" />
	<bean id="abstractRolesDTO" class="com.gabon.info.dto.roles.AbstractRolesDTO" abstract="true" />
	<bean id="projectsDTO" class="com.gabon.info.dto.projects.ProjectsDTO" />
	<bean id="abstractProjectsDTO" class="com.gabon.info.dto.projects.AbstractProjectsDTO" abstract="true" />
	<bean id="officeDTO" class="com.gabon.info.dto.office.OfficeDTO" />
	<bean id="abstractOfficeDTO" class="com.gabon.info.dto.office.AbstractOfficeDTO" abstract="true" />
	<bean id="departmentDTO" class="com.gabon.info.dto.department.DepartmentDTO" />
	<bean id="abstractDepartmentDTO" class="com.gabon.info.dto.department.AbstractDepartmentDTO" abstract="true" />	
	
	<bean id="builderFactory" class="org.dynadto.spring.LocalBuilderFactoryBean">
		<property name="mappingDirectoryLocations">
			<list>
				<value>com/gabon/info</value>
			</list>
		</property>
	</bean>

	<bean id="abstractService" class="com.gabon.info.service.AbstractService" abstract="true">
		<property name="builderFactory" ref="builderFactory" />
	</bean>
	<bean id="usersService" class="com.gabon.info.service.users.UsersService" init-method="initialization" />
	<bean id="rolesService" class="com.gabon.info.service.roles.RolesService" init-method="initialization" />
	<bean id="projectsService" class="com.gabon.info.service.projects.ProjectsService" init-method="initialization" />
	<bean id="officeService" class="com.gabon.info.service.office.OfficeService" init-method="initialization" />
	<bean id="departmentService" class="com.gabon.info.service.department.DepartmentService" init-method="initialization" />
	
	
	<bean id="abstractIbatisDaoSupport" class="com.gabon.info.dao.spring.ibatis.AbstractIbatisDaoSupport" abstract="true" />
	<!-- 
	<bean id="concreteDAOIbatisSpring" class="com.gabon.info.dao.spring.ibatis.ConcreteDAOIbatisSpring" />
	<bean id="usersDAOIbatisSpring" class="com.gabon.info.dao.spring.ibatis.users.UsersDAO" />
	<bean id="rolesDAOIbatisSpring" class="com.gabon.info.dao.spring.ibatis.roles.RolesDAO" />
	<bean id="projectsDAOIbatisSpring" class="com.gabon.info.dao.spring.ibatis.projects.ProjectsDAO" />
	<bean id="officeDAOIbatisSpring" class="com.gabon.info.dao.spring.ibatis.office.OfficeDAO" />
	<bean id="departmentDAOIbatisSpring" class="com.gabon.info.dao.spring.ibatis.department.DepartmentDAO" />
	-->
	
	
	<bean id="createdResponse" class="com.gabon.info.response.CreatedResponse" />
	<bean id="messagesResponse" class="com.gabon.info.response.MessagesResponse" />
	
	
	<bean id="genericException" class="com.gabon.info.exception.GenericException" />
	<bean id="notSaveException" class="com.gabon.info.exception.NotSaveException" />
	<bean id="notUpdateException" class="com.gabon.info.exception.NotUpdateException" />
	<bean id="notDeleteException" class="com.gabon.info.exception.NotDeleteException" />
	<bean id="webServiceError" class="com.gabon.info.exception.WebServiceError" />
	<bean id="webServiceException" class="com.gabon.info.exception.WebServiceException" />
	
</beans>